{% extends 'base.html.twig' %}

{% block title %}Liste des equipements{% endblock %}

{% block javascripts %}        
    <script src="{{ asset('assets/js/searchBar.js') }}"></script>
{% endblock %}

{% block body %}
    <div class='text-center mb-2'>	
        <div class='h2 mb-3 font-weight-bold'>Liste des equipements</div>
    </div>
    <div class='text-center mb-2'>	
        <a href='{{ path('equipment_new') }}'><input type='button' value="Ajouter un equipement" class='grey-btn f-20 py-2 px-4' /></a>
    </div>

    <hr>

    <input class='w-100 mb-3 p-2' type="text" id="searchBar" placeholder="Rechercher un equipement">

    <div class='container list'>
        <div class="row tab-head p-2">
            <div class="col-12">Titre</div>
        </div>

        {% for equipment in equipments %}
            <a class='data-row' href="{{ path('equipment_show', {'id': equipment.id}) }}">
                <div class="row link default p-2">
                    <div class="col-12 my-auto">{{ equipment.title }}</div>
                </div>
            </a>
        {% else %}
            <div class="row">
                <div class='col text-center alert-label p-2'>Aucun equipements enregistrés</div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}