{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class='text-center'>	
        <a href='{{ path('intervention_new') }}'><button>TEST</button></a>
    </div>
{% endblock %}
