{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande d'intervention{% endblock %}

{% block body %}
    <a href="{{ path('intervention_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h2 class='text-center mb-5 font-weight-bold'>Nouvelle demande d'intervention</h2>

    {{ include('intervention/_form.html.twig') }}
{% endblock %}
