{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande d'intervention{% endblock %}

{% block body %}
    <a href="{{ path('index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h1 class='text-center mb-5'>Nouvelle demande d'intervention</h1>

    {{ include('intervention/_form.html.twig') }}
{% endblock %}
