{% extends 'base.html.twig' %}

{% block title %}Gestion de l'intervention{% endblock %}

{% block body %}
    <a href="{{ path('intervention_show', {'id': intervention.id}) }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h1 class='text-center mb-5'>Gestion de l'intervention</h1>

{% endblock %}
