{% extends 'base.html.twig' %}

{% block title %}Nouvelle action{% endblock %}

{% block body %}
    <a href="{{ path('action_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h1 class='text-center mb-5'>Nouvelle action</h1>

    {{ include('action/_form.html.twig') }}
{% endblock %}
