{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <a href="{{ path('task_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h1 class='text-center mb-5'>Create new Task</h1>

    {{ include('task/_form.html.twig') }}
{% endblock %}
