<form method="post" action="{{ path('operating_system_delete', {'id': operating_system.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce système d'exploitation ?');" class='d-inline'>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operating_system.id) }}">
    <button class="red-btn f-20 px-4 py-2">Supprimer</button>
</form>