{% extends 'base.html.twig' %}

{% block title %}Nouveau système d'exploitation{% endblock %}

{% block body %}
    <a href="{{ path('operating_system_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h2 class='text-center mb-5 font-weight-bold'>Nouveau système d'exploitation</h2>

    {{ include('operating_system/_form.html.twig') }}
{% endblock %}
