{% extends 'base.html.twig' %}

{% block title %}New OperatingSystem{% endblock %}

{% block body %}
    <a href="{{ path('operating_system_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h1 class='text-center mb-5'>Create new Operating System</h1>

    {{ include('operating_system/_form.html.twig') }}
{% endblock %}
