{% extends 'base.html.twig' %}

{% block title %}Nouvelle fiche technicien{% endblock %}

{% block body %}
    <a href="{{ path('technician_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h2 class='text-center mb-5 font-weight-bold'>Nouvelle fiche technicien</h2>

    {{ include('technician/_form.html.twig') }}
{% endblock %}
