{% extends 'base.html.twig' %}

{% block title %}New Technician{% endblock %}

{% block body %}
    <a href="{{ path('technician_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h1 class='text-center mb-5'>Create new Technician</h1>

    {{ include('technician/_form.html.twig') }}
{% endblock %}
