{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <a href="{{ path('client_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h1 class='text-center mb-5'>Create new Client</h1>

    {{ include('client/_form.html.twig') }}
{% endblock %}
