$lightPrimaryColor: #487181;
$primaryColor: #264653;
$hoverPrimaryColor: #4871811f;

$lightGrey: #ebebeb;
$darkGrey: #afafaf;
$darkestGrey: #555555;
$hoverGrey: #75757550;

$lighterGreen: #028f00;
$lightGreen: #3f913e36;
$darkGreen: #02910088;
$hoverGreen: #3f913e57;

$lightRed: #ff0000cb;
$darkRed: #9e0000cb;
$hoverRed: #a10000cb;