$primaryColor: #264653;
$lightPrimaryColor: #487181;

$lightGrey: #ebebeb;
$darkerGrey: #d6d6d6;
$darkGrey: #afafaf;
$darkestGrey: #777777;
$hoverGrey: #75757550;

$lightGreen: #40913e6c;
$darkGreen: #02910088;
$hoverGreen: #047c0070;

$lightRed: #ff0000cb;
$darkRed: #9e0000cb;
$hoverRed: #a10000cb;