{% extends 'base.html.twig' %}

{% block title %}Modifier la brochure{% endblock %}

{% block body %}
    <a href="{{ path('booklet_index') }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h1 class='text-center mb-5'>Modifier la brochure</h1>

    {{ include('booklet/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
