<form method="post" action="{{ path('software_delete', {'id': software.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce logiciel ?');" class='d-inline'>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ software.id) }}">
    <button class="red-btn px-3">Supprimer</button>
</form>